*{
    margin: 0px;
    padding: 0px;
    box-sizing: unset;
}

:root{
    --newletter-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: var(--main-bg);
}

h2,
h3,
nav,
.cta{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

h2,
p,
h3{
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
#nav-list{
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: var(--white);
}
.nav-item{
    margin: 0px 20px;
    
}
#get-started{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--into-email-bg) url("images/bg-curvy-desktop.svg") bottom no-repeat;
    background-size: 100% 278px;
}
#get-started img{
    /* width: 730;
    height: 530; */
}

#get-started h2{
    width: 742px;
    font-size: 40px;
    text-align: center;
    margin: auto;
}

#get-started p{
    width: 650px;
    font-size: 20px;
    /* padding: 0 38px; */
    text-align: center;
}
#get-started a{
    text-decoration: none;
    width: 280px;
    padding: 28px 0;
    border-radius: 50px;
    text-align: center;
    margin: 30px 0;
    background: linear-gradient(to right, var(--cyan), var(--blue) );
    border: none;
}

@media screen and (max-width:375px) {
    .nav{
        padding: 20px 15px;
    }
    .nav img{
        width: 100px;
    }
    .nav-item{
        margin: 0px 10px;
        font-weight: 300;
    }
    main{
        width: 100%;
    }
    #get-started img{
        width: 80%;
        /* height: 530; */
    }
}
