*{
    margin: 0px;
    padding: 0px;
    box-sizing: unset;
}

:root{
    --newletter-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: var(--main-bg);
}

a{
    text-decoration: none;
}

h2,
h3,
nav,
#get-started a{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

h2,
p,
h3{
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin-bottom: 10px;
}
#nav-list{
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
}
.nav-item{
    margin: 0px 20px;
}
#get-started{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background: var(--newletter-bg) url("images/bg-curvy-desktop.svg") bottom no-repeat;
    background-size: 100% 278px;
}

#get-started h2{
    width: 40%;
    font-size: 40px;
    text-align: center;
    margin: 15px auto;
}

#get-started p{
    width: 35%;
    font-size: 20px;
    text-align: center;
}
#get-started a{
    width: 280px;
    padding: 20px 0;
    border-radius: 50px;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(to right, var(--cyan), var(--blue) );
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}
#Features{
    width: 70%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.Feature{
    width: 80%;
    margin: 20px auto 50px;
    padding: 0 0px;
    word-wrap: break-word;
}
.Feature p{
    width: 75%;
    margin: 0 auto;
}
.Feature img{
    margin-bottom: 20px;
}
#description{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}
#img-box{
    width: 40%;
    /* margin: 0 40px 0px 0px; */
    /* border: 2px solid red; */
}
#img-box img{
    width: 100%;
}
#text-box{
    width: 40%;
    margin: auto 0px;
    padding: 0px 0px 0px 20px;
}
#text-box h2{
    font-size: 35px;
    width: 400px;
    margin-bottom: 15px;
}
#text-box p{
    margin-bottom: 15px;
}
#text-box a{
    font-size: 15px;
    margin: auto 0px;
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan); 
}
#text-box a img{
    width: 12px;
    margin: auto 0px;
}

@media screen and (max-width:375px) {
    .nav{
        padding: 15px 15px;
    }
    .nav img{
        width: 100px;
    }
    .nav-item{
        margin: 0px 10px;
        font-weight: 300;
    }
    .nav a{
        font-size: 13px;
    }
    main{
        width: 100%;
    }
    #get-started{
        height: 75vh;
        background: var(--newletter-bg) url("images/bg-curvy-mobile.svg") bottom no-repeat;
    }
    #get-started img{
        width: 85%;
        position: relative;
    }
    #get-started h2{
        margin: 15px auto;
        font-size: 25px;
        font-weight: 500;
        width: 90%;
    }
    #get-started p{
        font-size: 16px;
        font-weight: 400;
        width: 90%;
        margin-bottom: 10px;
    }
    #get-started a{
        width: 60%;
        margin: 10px auto;
        padding: 12px 0;
    }
    #Features {
        display: block;
        margin: 0% auto;
        width: 100%;
    }
    #first-feature{
        margin-top: 20px;
    }
    .Feature{
        width: 90%;
    }
    .Feature h3{
        width: 90%;
        margin: 0px auto 10px auto;
    }
    .Feature p{
        width: 90%;
    }
    #description{
        display: block;
        width: 90%;
        margin: 0px auto;
        padding: 0px;
        /* justify-content: space-evenly;
         */
    }
    #img-box{
        width: 90%;
        margin: 0px auto 20px auto;
        /* margin: 0 40px 0px 0px; */
        /* border: 2px solid red; */
    }
    
    #text-box{
        width: 100%;
        margin: 0px auto;
        /* margin: auto 0px; */
        padding: 0px 0px 0px 0px;
    }
    #text-box h2{
        font-size: 18px;
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
    }
    #text-box p{
        margin-bottom: 10px;
    }
    #text-box a{
        font-size: unset;
    }
}
